<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_agenda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_agenda_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaOnline">
        <activity
            android:name=".Contacto.Actulizar_Contacto"
            android:exported="false" />
        <activity
            android:name=".Contacto.Detalle_contacto"
            android:exported="false" />
        <activity
            android:name=".Contacto.Listar_Contactos"
            android:exported="false" />
        <activity
            android:name=".Contacto.Agregar_Contacto"
            android:exported="false" />
        <activity
            android:name=".recuperar_contrasena"
            android:exported="false" />
        <activity
            android:name=".Perfil.Editar_imagen_perfil"
            android:exported="false" />
        <activity
            android:name=".Detalle.Detalle_Nota"
            android:exported="false" />
        <activity android:name=".ActualizarNota.Actualizar_Nota" />
        <activity android:name=".Perfil.Perfil_Usuario" />
        <activity android:name=".NotasImportantes.Notas_Importantes" />
        <activity android:name=".ListarNotas.Listar_Notas" />
        <activity android:name=".AgregarNota.Agregar_Nota" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="true" />
        <activity
            android:name=".Registro"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Pantalla_De_Carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>